*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.ham{
    color: black;
    display: none;
}

.top-nav{
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 10px 5px 5px rgb(204, 202, 202);
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.vertical {
    transition: 1s;
}

.vertical-navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: 1s;
}

.vertical-navbar > li{
    list-style-type: none;
    margin-bottom: 30px;
}

@media only screen and (min-width: 1000px){
    .vertical-navbar{
        display: none;
    }
}

@media only screen and (max-width: 800px){
    .vertical-navbar{
        display: none;
    }
}

.image > img{
    height: 65px;
}   

.navbar{
    list-style-type: none;
}

@media only screen and (max-width: 800px){
    .navbar{
        display: none;
    }

    .ham{
        display: inline;
    }
}

.nav-item{
    margin-left: 50px;
    font-size: 18px;
    color: rgba(0,0,0,.55);
    font-weight: 700;
}

.nav-item:hover{
    color: #f43b86;
    border-bottom: 3px solid #f43b86;
    transition: 0.1s;
}

.blog{
    color: #f43b86;
    border-bottom: 3px solid #f43b86;
}

.blogs{
    margin-bottom: 50px;
}

.content{
    width: 90%;
    margin: auto;
}

.container{
    width: 90vw;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .content{
        width: 92vw;
        margin: auto;
    }

    .cat-head{
        margin-right: 20px;
    }
}

.heading{
    margin-top: 70px;
    font-size: 35px;
    text-align: center;
}

.tag-btn{
    border-radius: 50px;
    border: none;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 8px;
    margin-left: 0;
    background-color: white;
    border: 1px solid rgb(190, 190, 190);
}

@media screen and (max-width: 800px) {
    .tag-btn{
        padding: 6px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 6px;
        font-size: 15px;
    }
}

.tags{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tag-btn:hover{
    background-color: #ee8bcd;
    color: white;
    border: 1px solid white;
}

.cat-span{
    border-bottom: 0.5px solid #f43b86;
    margin-bottom: 5px;
}

.cat-head{
    margin-bottom: 50px;
}

.link{
    background-color: #ee8bcd;
    border: none;
    margin-bottom: 20px;
}

.link:hover{
    background-color: #ee8bcd;
}

.card{
    margin: 20px;
}

.blog-heading{
    margin-bottom: 40px;
}

.container{
    max-width: 84vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    margin: 30px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link{
    text-align: center;
}

.card:hover{
    transition: 0.2s ease-in-out;
    transform: translateY(-20px);
}

/* Footer */

.footer{
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contact, .links, .newsletter{
    width: 20%;
    margin-bottom: 30px;
}

@media only screen and (max-width: 800px){
    .contact, .links, .newsletter{
        width: 80%;
    }
}

.icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

i{
    font-size: 30px;
    margin-right: 15px;
}

.call{
    display: flex;
    flex-direction: row;
    max-height: 70px;
    justify-content: flex-start;
    align-items: center;
}

.call-img{
    margin-right: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    max-height: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

p{
    margin: 10px;
}

.num{
    font-size: small;
    margin: 0;
    padding: 0;
}

.newsletter{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: row;
}

#email{
    margin-right: 0;
    border: none;
    height: 40px;
    width: 500px;
    border: 1px solid black;
    padding: 20px;
}

@media only screen and (min-width: 1000px){
    #email{
        width: 160px;
    }
}

@media only screen and (max-width: 900px){
    #email{
        width: 150px;
    }
}

#submit{
    border-radius: 0 30px 30px 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 5px;
    height: 42px;
    border: none;
    color: white;
    background-color: black;
    text-align: center;
}

.logo_play{
    margin-top: 30px;
    width: 130px;
}

.links{
    margin-top: 0;
}

.footer{
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.288)),  url(https://images.unsplash.com/photo-1525203135335-74d272fc8d9c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGNha2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}

i{
    color: white;
}

.insta:hover{
    color: orange;
}

.fb:hover{
    color: blue;
}

.pin{
    color: red;
}

i:active, i:visited{
    color: black;
}

.numbers{
    font-size: 15px;
}

.num{
    font-size: 15px;
}

.num:hover{
    color: #f43b86;
}

@media only screen and (max-width: 900px){
    .blog-heading{
        margin-right: 20px;
    }
}